# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignores specific to this project.

# Ignore all log files.
*.log

# Ignore files and folders inside the configuration file BUT ...
configuration/*
# Include the config.ini file from the configuration folder.
!configuration/config.ini

# Ignore the jar from the code folder.
code/*.jar